@import "tailwindcss";

body {
  background-color: #000000;
  color: #f8fafc;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif;
}

/* Custom Stealth Scrollbar */
::-webkit-scrollbar {
  width: 6px;
  height: 6px;
}

::-webkit-scrollbar-track {
  background: transparent;
}

::-webkit-scrollbar-thumb {
  background: #1A1A1A;
  border-radius: 10px;
}

::-webkit-scrollbar-thumb:hover {
  background: #BEF264;
}